<style>
  .custom-card {
    max-width: 100%;
    margin: auto;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .error-message {
    color: red;
    font-size: 0.875rem;
  }
</style>

<app-headeradmon></app-headeradmon>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-12">
      <div class="card custom-card">
        <div class="card-header">
          Listado de Marcas
        </div>
        <div class="card-body">
          <button class="btn btn-primary" routerLink="/user/crear-marca">Crear Producto</button>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Marca</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let marca of marcas">
                  <td>{{ marca.marca }}</td>
                  <td>
                    <button class="btn btn-warning btn-sm" (click)="toggleEditForm(marca)">Editar</button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="eliminarMarca(marca.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editarMarcaModal" tabindex="-1" aria-labelledby="editarMarcaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarMarcaModalLabel">Editar Marca</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editarForm" (ngSubmit)="guardarMarca()">
          <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" id="marca" formControlName="marca" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
