<app-headeradmon></app-headeradmon>

<style>
  /* Estilos existentes... */

  .search-container {
    position: fixed;
    top: 100px; /* Ajustar este valor para colocar la barra más abajo */
    right: 20px; /* Alinear a la derecha con un margen de 20px */
    width: 250px; /* Ajustar el ancho según sea necesario */
    z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
  }

  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px; /* Reducir el tamaño de la fuente */
  }

  .user-table-container {
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  .user-table th, .user-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  .user-table th {
    background-color: #031d40;
    color: white;
  }

  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .delete-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #ff0000;
  }
</style>

<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Buscar usuarios..."
    [(ngModel)]="searchTerm"
    (input)="filterUsers()"
  />
</div>

<div class="user-table-container">
  <h2 style="text-align: center;">Datos de Usuarios</h2>
  
  <table class="user-table" *ngIf="filteredUsers.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Correo</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.lastNameP }}</td>
        <td>{{ user.lastNameM }}</td>
        <td>{{ user.email }}</td>
        <td>
          <select [(ngModel)]="user.role" (change)="onRoleChange(user, $event)">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="filteredUsers.length === 0 && searchTerm">
    <p>No se encontraron datos de usuarios.</p>
  </div>
</div>
