<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de categorias</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<app-header></app-header>
<body>
  <div class="container mt-5">
    <h1>Listado de Imagenes</h1>
    <table class="table table-striped">
      <!-- Encabezados de la tabla -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagen del carrusel</th>
          <th>Acción</th> <!-- Nueva columna para el botón de eliminar -->
        </tr>
      </thead>
      <!-- Cuerpo de la tabla -->
      <tbody>
        <tr *ngFor="let carrusel of carrusel">
          <td>{{ carrusel.id }}</td>
          <td>
            <img [src]="carrusel.url" alt="Imagen de Carrusel" width="100"> <!-- Mostrar imagen -->
          </td>
          <td>
            <!-- Botón de eliminar con estilo Bootstrap -->
            <button class="btn btn-danger" (click)="eliminarCarrusel(carrusel.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Botón para agregar producto -->
    <button class="btn btn-primary" (click)="irAFormulario()">Agregar Imagen</button>
  </div>
  <br>
  <br>
  <br>

  <!-- Scripts de Bootstrap y Angular -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.17/angular2.min.js"></script>
  <app-footer></app-footer>
</body>
</html>
