<!-- src/app/pages/pago/pago.component.html -->
<app-header></app-header>
<div class="pago-container">
  <h2>Resumen de la compra</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td><img [src]="item.productoImagen" alt="{{ item.productoNombre }}" class="img-thumbnail product-image"></td>
        <td>{{ item.productoNombre }}</td>
        <td>${{ item.productoPrecio | number:'1.2-2' }}</td>
        <td>{{ item.cantidad }}</td>
        <td>${{ item.productoPrecio * item.cantidad | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total-container">
    <h3>Total: ${{ total | number:'1.2-2' }}</h3>
    <div id="paypal-button-container"></div>
  </div>
</div>
