<app-headeradmon></app-headeradmon>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-12">
      <div class="card custom-card">
        <div class="card-header">
          Listado de Subcategorías
        </div>
        <div class="card-body">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarSubcategoriaModal">Agregar Subcategoría</button>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subcategoria of subcategorias">
                  <td>{{ subcategoria.categoria }}</td>
                  <td>{{ subcategoria.subcategoria }}</td>
                  <td>
                    <button class="btn btn-warning" (click)="toggleEditForm(subcategoria)" data-bs-toggle="modal" data-bs-target="#editarSubcategoriaModal">Editar</button>
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="eliminarSubcategoria(subcategoria.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editarSubcategoriaModal" tabindex="-1" aria-labelledby="editarSubcategoriaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarSubcategoriaModalLabel">Editar Subcategoría</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editarForm" (ngSubmit)="guardarSubcategoria()">
          <div class="mb-3">
            <label for="subcategoria" class="form-label">SubCategoría</label>
            <input type="text" id="subcategoria" formControlName="subcategoria" class="form-control">
            <div *ngIf="editarForm.get('subcategoria')?.invalid && editarForm.get('subcategoria')?.touched" class="text-danger">
              La subcategoría solo debe contener letras y no debe estar repetida.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
